*,
*::before,
*::after {
    box-sizing: border-box; }

h1, h2, h3, p{
margin: 0;
} 

ul{
    margin: 0;
    padding-left: 0;
    list-style: none;
}

body{
    margin: 0;
    font-family:'Roboto', sans-serif;
    color: #434455;
    background-color:#ffffff;
}

a{
    text-decoration: none;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header-navigation {
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.header-navigation-list a{
    font-weight: 500;
    color:#2e2f42;
}

.header-navigation-list a:hover{
    color: #404bbf; 
}
.header-navigation-list a:focus{
    color:#404bbf;
}

.header-navigation-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;

}

.header-navigation-logo-studio{
color:#2e2f42;
}

.address{
    line-height: 150%;
    letter-spacing: 0.02em;
    font-style: normal;
    color:#434455;
}

.address-contacts a{
    color:#434455;
}

.address-contacts a:hover,
.address-contacts a:focus{
color:#404bbf;
}

.main-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center; 
    color:#ffffff;
}

.button{
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.04em;
    cursor: pointer;
    color:#ffffff;
    background-color:#4d5ae5;

}

.button:hover,
.button:focus{
    background-color:#404bbf;
}

.benefits-title,
.team-title,
.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color:#2e2f42;
    text-align: center;
    text-transform: capitalize;
}

.benefits-subtitle,
.team-subtitle,
.portfolio-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color:#2e2f42;
}


.benefits-subtitle-text,
.team-subtitle-text,
.portfolio-subtitle-text{
    line-height: 150%;
    letter-spacing: 0.02em;
    color:#434455;
}
.team{
    background-color:#f4f4fd;
}
.team-list-item{
    background-color:#ffffff;
}
.footer, 
.main{
    background-color:#2e2f42;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
}

.footer-logo-studio{
    color:#f4f4fd;
}

.footer-logo-text{
    line-height: 150%;
    letter-spacing: 0.02em;
    color:#f4f4fd;
}
